a{
    font-weight: bold;
}

.newmarquee-container {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#newmarquee-content {
    white-space: nowrap;
    will-change: transform;
    display: inline-block;
    visibility: hidden;
}